.navbar {
    width: 100%;
    background-color: #333; /* Escolha a cor de fundo que preferir */
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000; /* Garantir que fique acima de outros elementos */
}

/* Lista e itens da barra */
.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-item {
    margin-right: 2rem; /* Espaçamento entre as opções */
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-link:hover {
    text-decoration: underline;
}