<h1>Meus Hábitos</h1>

<div class="container">
    <h2>
        Exibição de Hábitos:
        <nav class="tab-container">
            <button 
                [ngClass]="{'active': selectedView === 'all-habits'}" 
                (click)="selectedView = 'all-habits'">
                Todos
            </button>
            <button 
                [ngClass]="{'active': selectedView === 'daily-habits'}" 
                (click)="selectedView = 'daily-habits'">
                Diários
            </button>
        </nav>
    </h2>
    
    <add-button (habitAdded)="addHabit($event)"></add-button>

    <div *ngIf="selectedView === 'all-habits'">
        <all-habits-list 
            [habits]="habits" 
            (deleteHabit)="onDeleteHabit($event)">
        </all-habits-list>
    </div>

    <div *ngIf="selectedView === 'daily-habits'">
        <daily-habits
            [habits]="habits"
            (deleteHabit)="onDeleteHabit($event)">
        </daily-habits>
    </div>
</div>