<div class="habits-container">
    <table class="habit-details">
        <tbody>
            <tr>
                <td class="habit-name">🎨 {{habit.name}}</td>
                <td class="habit-time">{{habit.startDate | date: 'HH:mm'}}</td>
            </tr>
            <tr>
                <td class="habit-place">📍 {{habit.place}}</td>
                <td class="habit-periodic">P: {{habit.periodic}}</td>
            </tr>
        </tbody>
    </table>
    <table class="habit-actions">
        <tbody>
            <tr>
                <td class="edit-icon">✏️</td>
            </tr>
            <tr>
                <td class="delete-icon" (click)="onDelete()">❌</td>
            </tr>
        </tbody>
    </table>
</div>